<div class="card-club d-flex box-shadow">
    <a class='link' href="{{ path('app_club_show', {'id': club.id}) }}"></a>

    <div class="card-image col-4 d-flex justify-content-center">
        <img src="{{ asset('uploads/images/' ~ club.logo) }}" alt="Logo du club">
    </div>
    <div class="card-content col-8">
        <h2 class="card-text">{{ club.name }}</h2>
        <p>Téléphone : {{ club.phone }}</p>
        <p>Adresse : {{ club.adress }}</p>
        <p>Nombre d'équipes : {{ club.team | length }}</p>
        <p>
            <a class="z-1 position-absolute btn custom-btn" href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier</a>
        </p>
    </div>
</div>

{# <a href="{{ path('app_club_show', {'id': club.id}) }}" class="card-club d-flex box-shadow"> #}
{#    <div class="card-image col-4 d-flex justify-content-center"> #}
{#        <img src="{{ asset('uploads/images/' ~ club.logo) }}" alt="Logo du club"> #}
{#    </div> #}
{#    <div class="card-content col-8"> #}
{#        <h2 class="card-text">{{ club.name }}</h2> #}
{#        <p>Téléphone : {{ club.phone }}</p> #}
{#        <p>Adresse : {{ club.adress }}</p> #}
{#        <p>Nombre d'équipes : {{ club.team | length }}</p> #}
{#        <p> #}
{#            <a class='link' href="{{ path('app_club_show', {'id': club.id}) }}">Détails</a> #}
{#            / #}
{#            <a href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier</a> #}
{#        </p> #}
{#    </div> #}
{# </a> #}

