<div class="card-club card-club-back box-shadow">

    <a class='link' href="{{ path('app_club_show', {'id': club.id}) }}"></a>
    <div class="card-title-club">
        <p>CLUB</p>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card-image">
                <img class="img50" src="{{ asset('uploads/images/' ~ club.logo) }}" alt="Logo du club">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-content">

                <h2 class="card-text bold">{{ club.name }}</h2>
                <p><span class="bold">Téléphone : </span>{{ club.phone }}</p>
                <p><span class="bold">Adresse : </span> {{ club.adress }}</p>
                <p><span class="bold">Nombres d'équipes : </span> {{ club.team | length }}</p>

                {% if is_granted('ROLE_MANAGER') %}
                    <p class="d-none d-sm-block">
                        <a class="z-1 position-absolute custom-btn"
                           href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier</a>
                    </p>
                    <p class="d-block d-sm-none mx-3 mt-5">
                        <a class="z-1 position-relative custom-btn"
                           href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier</a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</div>



