<div class="card-club card-team-back d-flex flex-column box-shadow">
    <div class="card-image d-flex justify-content-center">
        <img src="{{ asset('uploads/images/' ~ team.photo) }}" alt="Logo du club">
    </div>
    <div class="card-content">

        <h2 class="card-text">{{ player.firstname }}</h2>
        <h2 class="card-text text-uppercase">{{ player.lastname }}</h2>
        <p>{{ player.roles ? player.roles|json_encode : '' }}</p>
        <p>Poste : XXX </p>
        <p>Age : XXX</p>

        <div class="row justify-content-evenly">
            <a class="custom-btn-light col-5" href="{{ path('app_user_show', {'id': player.id}) }}">Profile</a>

            {% if is_granted('ROLE_PLAYER') %}
            {% else %}

                <a class="custom-btn-light col-5"
                   href="{{ path('app_user_edit', {'id': player.id}) }}">Modifier</a>

            {% endif %}

        </div>

    </div>
</div>