<div class="card-club card-team-back d-flex flex-column box-shadow h-100">
    <a class="link"
       href="{{ path('app_user_show', {'id': player.id}) }}"></a>
    <div class="card-image d-flex justify-content-center mb-3">
        <img class="img100" src="{{ asset('build/images/abstract-user-flat-4.svg') }}" alt="Logo du club">
    </div>
    <div class="card-content">

        <h4 class="card-text text-center">{{ player.firstname }}<br><span
                    class="text-uppercase">{{ player.lastname }}</span>
        </h4>

        <div class="d-flex flex-column justify-content-center align-items-center my-2">
            {% if player.post %}
            <p><span class="fw-bolder">Poste :</span> {{ player.post }}</p>
            {% endif %}
            {% set age = date().diff(date(player.birth)).y %}
            {% if player.birth %}
            <p><span class="fw-bolder">Age :</span> {{ age }}</p>
            {% endif %}
        </div>
    </div>
</div>