<div class="card-club d-flex box-shadow">
    <div class="card-image col-4 d-flex justify-content-center">
        <img src="{{ asset('uploads/images/' ~ team.photo) }}" alt="Logo du club">
    </div>
    <div class="card-content col-8">
        <h2 class="card-text">Catégorie : {{ team.category }}</h2>
        <p>Equipe {{ team.level }}</p>
        <p>Club : {{ team.club.name }}  </p>
        <p>Nombre de joueurs : X</p>
        <p>
            <a href="{{ path('app_team_show', {'id': team.id}) }}">Détails</a>
            /
            <a href="{{ path('app_team_edit', {'id': team.id}) }}">Modifier</a>
        </p>
    </div>
</div>