<header class="main-header box-shadow">
    <nav class="container-fluid navbar navbar-expand-lg">
        <div class="container-fluid col-lg-10">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="logo" src="{{ asset('build/images/logo.png') }}">
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                {% if is_granted('ROLE_MANAGER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="border-bottom">
                                <p class="dropdown-item">MANAGER</p>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id' : app.user.id}) }}">Mon
                                    compte</a></li>
                            {% if app.user.club %}
                                <li><a class="dropdown-item"
                                       href="{{ path('app_club_show', {'id': app.user.club.id}) }}">Mon club</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ path('app_user_new') }}">Nouveau membre</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ path('app_club_new') }}">Inscrire mon club</a>
                                </li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </li>
                {% elseif is_granted('ROLE_PLAYER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="border-bottom">
                                <p class="dropdown-item">JOUEUR</p>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id' : app.user.id}) }}">Mon
                                    compte</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('app_club_show', {'id' : app.user.team.club.id}) }}">Mon club</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </li>
                {% elseif is_granted('ROLE_COACH') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="border-bottom">
                                <p class="dropdown-item">COACH</p>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id' : app.user.id}) }}">Mon
                                    compte</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('app_club_show', {'id' : app.user.team.club.id}) }}">Mon club</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3 custom-btn" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

