<header>
    <nav {% if app.request.attributes.get('_route') == 'app_home' %} class="nav-home" id="nav" {% endif %}>
        <div class="container bloc-nav">
            <a href="{{ path('app_home') }}" class="logo-link">
                <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="logo">
            </a>
            <div class="nav-links">
                <ul>
                    {% if is_granted('ROLE_MANAGER') %}

                        {% if app.user.club %}
                            <li class="nav-item"><a class="nav-link"
                                                    href="{{ path('app_user_edit', {'id' : app.user.id}) }}">Mon
                                    compte</a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="{{ path('app_club_show', {'id': app.user.club.id}) }}">Mon
                                    club</a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="{{ path('app_user_new') }}">Nouveau membre</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link custom-btn" href="{{ path('app_club_new') }}">Inscrire
                                    mon
                                    club</a>
                            </li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}"><i
                                        class="fa-solid fa-arrow-right-from-bracket"></i></a></li>

                    {% elseif is_granted('ROLE_COACH') or is_granted('ROLE_PLAYER')  %}

                        <li class="nav-item"><a class="nav-link" href="{{ path('app_user_edit', {'id' : app.user.id}) }}">Mon
                                compte</a></li>
                        <li class="nav-item"><a class="nav-link"
                               href="{{ path('app_club_show', {'id' : app.user.team.club.id}) }}">Mon club</a></li>
                        <li class="nav-item"><a class=nav-link" href="{{ path('app_logout') }}"><i
                                        class="fa-solid fa-arrow-right-from-bracket"></i></a></li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-btn" href="{{ path('app_register') }}">Inscrire mon club</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <img class="menu-burger" src="{{ asset('build/images/menu-btn.png') }}" alt="Menu burger">
        </div>
    </nav>
</header>



